* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

#logo{
	background-color: white;
	padding-left: 25px;
 	padding-right: 10px;
}

#fontlogo{
	font-size: 3em;
}

#task{
	background-color: white;
    padding-left: 36px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 55px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
}

#span{
	background-color: rgb(59, 155, 245);
	background-color: rgb(59, 155, 245);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white;
}

#section{
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border-color: rgb(201, 201, 201);
    border: solid;
    margin-left: 10px;
    color: rgb(201, 201, 201);
}

#list{
	background-color: white;
    padding-left: 36px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 500px;
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
}

body{
	background-color: rgb(231, 228, 228);
}

